@model SAMarineAndBoatSupplies.Models.AdminViewModel.DashboardViewModel




<div class="accordion-div">
    <p>
        <a class="btn btn-primary btn-block" data-toggle="collapse" href="#pending" role="button" aria-expanded="false" aria-controls="collapseExample">
            Pending Orders (@Model.Orders.Count())
        </a>
    </p>
    <div class="collapse show" id="pending">
        <div class="">
            @foreach (var order in Model.Orders)
            {
                <a class="pending-link" asp-controller="Admin" asp-action="OrderDetails" asp-route-id="@order.OrderId">
                    <p>ORDER: @order.FirstName @order.LastName, @order.PhoneNumber, @order.OrderTotal.ToString("c"), @order.OrderId</p>
                </a>
            }
        </div>
    </div>
</div>
<br />

<div class="accordion-div">
    <p>
        <a class="btn btn-primary btn-block" data-toggle="collapse" href="#cats" role="button" aria-expanded="false" aria-controls="collapseExample">
            Manage Product Categories
        </a>
    </p>
    <div class="collapse" id="cats">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <h3>Add Category</h3>
                <form asp-action="AddCategory" method="post"class="form-inline my-2 my-lg-0">
                    <input asp-for="Category.Name" id="" class="form-control form-control-sm mr-sm-2" type="text" placeholder="Category Name" aria-label="Name" name="CategoryName">
                    <button class="btn btn-sm btn-success my-2 my-sm-0" type="submit">Add</button>
                </form>
            </div>
            <div class="col-lg-6 col-sm-12">
                <h3>Remove Category</h3>
                <form asp-action="RemoveCategory" method="post" class="form-inline">
                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Current Categories</label>
                    <select name="categoryId" asp-for="Category.CategoryId" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                        <option value="" selected>--Select Category--</option>
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.CategoryId">@category.Name</option>
                        }
                    </select>
                    <button type="submit" class="btn btn-danger my-1">Remove</button>
                </form>

            </div>
        </div>
    </div>
</div>
<br />

<div class="accordion-div">
    <p>
        <a class="btn btn-primary btn-block" data-toggle="collapse" href="#welcome" role="button" aria-expanded="false" aria-controls="collapseExample">
            Welcome Message
        </a>
    </p>
    <div class="collapse" id="welcome">
        <div style="padding: 1% 2%;">
            Edit the Welcome index page messages:
            <form asp-action="EditWelcome">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Welcome.Id" value="1" name="Welcome.Id" />
                <div class="form-group">
                    <label asp-for="Welcome.Welcome1" class="control-label"></label>
                    <textarea asp-for="Welcome.Welcome1" class="form-control" name="Welcome.Welcome1"></textarea>
                    <span asp-validation-for="Welcome.Welcome1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Welcome.Welcome2" class="control-label"></label>
                    <textarea asp-for="Welcome.Welcome2" class="form-control" name="Welcome.Welcome2"></textarea>
                    <span asp-validation-for="Welcome.Welcome2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>
<br/>

<div class="accordion-div">
    <p>
        <a class="btn btn-primary btn-block" data-toggle="collapse" href="#ab" role="button" aria-expanded="false" aria-controls="collapseExample">
            About / Contact Page Information
        </a>
    </p>
    <div class="collapse" id="ab">
        <div class="col-lg-12 d-flex justify-content-center">
            <a role="button" class="btn btn-large btn-success" asp-action="EditAboutContact" asp-route-id="1">Edit About Page</a>
        </div><br />
    </div>
</div>